
LEV1=2
LEV2=2
BLOCK_SIZE=20

CC=gcc
CXX=g++

CFLAGS += -DTAO 
CFLAGS += -DTAO_UTS=TAO_uts_dynamic
#CFLAGS += -DTAO_UTS=TAO_uts_static
CFLAGS += -DDISTRIBUTED_QUEUES 
CFLAGS += -DLOCK_FREE_QUEUE 
CFLAGS += -DSPINLOCK 
CFLAGS += -DSUPERTASK_STEALING
#CXXFLAGS += -DSYNCHRONOUS_TAO
