randombench
synbench
dotprod
*.o
*.txt
lib/*.a
*.weights
*.a
*.so
darknet
html
latex
heat-tao
heat-tbb
benchmarks/bfs/data/bfs/inputGen/*.txt
benchmarks/dataparallel/dataparallel
benchmarks/dataparallel/dataparallel.cxx.experiments
benchmarks/dataparallel/.Makefile.swp
benchmarks/kmeans/
benchmarks/fibonacci/fibonacci
benchmarks/fibonacci/fibonacci.o
benchmarks/bfs/data/bfs/*.txt
benchmarks/helloworld/helloworld
benchmarks/helloworld/helloworld.o
benchmarks/dataparallel_dag/dataparallel_dag
benchmarks/sparselu/sparselu
benchmarks/fmm-2d/fmm
benchmarks/fmm-2d/fmm-xitao
benchmarks/fmm-2d/fmm-omp
ptt_layout*
