randombench
synbench
dotprod
*.o
*.txt
lib/*.a
*.weights
*.a
*.so
darknet
html
latex
heat-tao
heat-tbb
benchmarks/bfs/data/bfs/inputGen/*.txt
benchmarks/dataparallel/dataparallel
benchmarks/dataparallel/dataparallel.cxx.experiments
benchmarks/dataparallel/.Makefile.swp
benchmarks/kmeans/
benchmarks/fibonacci/fibonacci
benchmarks/fibonacci/fibonacci.o
benchmarks/bfs/data/bfs/*.txt
ptt_layout*
