# makefile.heat
# definitions for testing heat and data migration

# width 6 requires multiples of 8 
# width 2 requires multiples of 24
# the below values are the default
# they can be overriden with environment variables of the same name
WIDTH=L1_W
EXT_XDECOMP=4
EXT_YDECOMP=4
INT_XDECOMP=3
INT_YDECOMP=4
CXXFLAGS+=-DAWIDTH=${WIDTH}
CXXFLAGS+=-DEXDECOMP=${EXT_XDECOMP}
CXXFLAGS+=-DEYDECOMP=${EXT_YDECOMP}
CXXFLAGS+=-DIXDECOMP=${INT_XDECOMP}
CXXFLAGS+=-DIYDECOMP=${INT_YDECOMP}

CXXFLAGS += -DTAO 
CXXFLAGS += -DLOCK_FREE_QUEUE 
CXXFLAGS += -DSPINLOCK 
#CXXFLAGS += -DDEBUG
#CXXFLAGS += -DSUPERTASK_STEALING
CXXFLAGS += -DTAO_PLACES
