
#TARGET = OPENMP
#TARGET=TBB
TARGET=TAO


ifeq ($(TARGET), OPENMP) 
LIST_SCHEDULE := -DOPENMP -fopenmp 
PROGRAM_OBJS = test.o 
else ifeq ($(TARGET), TBB)
PROGRAM_OBJS = test.o 
LIST_SCHEDULE:=-DTASK_GROUP 
else ifeq ($(TARGET), TAO)
LIST_SCHEDULE := -DTAO -pthread 
LIST_SCHEDULE += -DAMULT=400
LIST_SCHEDULE += -DTAO_PLACES 
LIST_SCHEDULE += -DLOCK_FREE_QUEUE 
LIST_SCHEDULE += -DSPINLOCK 
#LIST_SCHEDULE += -DSUPERTASK_STEALING
#LIST_SCHEDULE += -DTOPOPLACES	
PROGRAM_OBJS = test.o ../tao_sched.o
else
$(info "Invalid TARGET selected. I saw " $TARGET)
endif

CXX = g++ -std=c++11 -O3 -g3 -ffast-math -DLIST $(LIST_SCHEDULE)
