# this is the sorting organization, the number means different things:

# policies are
# 1 -> DYN
# 2 -> STA2
# 4 -> STA4

LEVEL1=2
LEVEL2=2
LEVEL3=2
LEVEL4=1
LEVEL5=1
DYNW1=L1_W
DYNW2=L1_W
DYNW3=L1_W
DYNW4=L3_W
DYNW5=L3_W

SUFFIX=-26

CC = gcc
CXX = g++

CXXFLAGS += -DPLACEMENT_DISTRIBUTED
CXXFLAGS += -DKRD_MULTI_PARTITION
#CXXFLAGS += -DSUPERTASK_STEALING
CXXFLAGS += -DLOCK_FREE_QUEUE
CXXFLAGS += -DSPINLOCK
CXXFLAGS += -DNEED_BARRIER
CXXFLAGS += -DTAO_PLACES
