# this is the sorting organization, the number means different things:

# policies are
# 1 -> DYN
# 2 -> STA2
# 4 -> STA4

LEVEL1=2
LEVEL2=2
LEVEL3=2
LEVEL4=1
LEVEL5=1
DYNW1=1
DYNW2=1
DYNW3=1
DYNW4=6
DYNW5=6

SUFFIX=-26

CC = gcc
CXX = g++

CXXFLAGS += -DPLACEMENT_DISTRIBUTED
CXXFLAGS += -DKRD_MULTI_PARTITION
CXXFLAGS += -DDISTRIBUTED_QUEUES
#CXXFLAGS += -DSUPERTASK_STEALING
CXXFLAGS += -DLOCK_FREE_QUEUE
CXXFLAGS += -DSPINLOCK
#CXXFLAGS += -DSYNCHRONOUS_TAO
CXXFLAGS += -DNEED_BARRIER
